//font
$font-family: "PT Sans", "Arial", sans-serif;

//viewports
$tablet: 768px;
$desktop: 1220px;
$mobile-only: 767px;

//color
$body-color: rgba(234, 234, 255, 1);
$fonts-color: rgba(0, 0, 0, 1);


//wrapper
$wrapper-desktop: 1440px;