//font
$font-family: "PT Sans", "Arial", sans-serif;

//viewports
$tablet: 768px;
$desktop: 1220px;
$mobile-only: 767px;

//color
$body-color:rgba(19, 21, 35, 1);
$fonts-color:rgba(255, 255, 255, 1);
$main: rgba(19, 21, 35, 1);
$active: rgba(119, 133, 255, 1);
$fonts:rgba(255, 255, 255, 1);
$black-fonts:rgba(35, 38, 81, 1);
$social-button-color:rgba(73, 83, 170, 1);
$accent-title:rgba(150, 205, 255, 1);
$icons:rgba(77, 85, 178, 1);
$element-color:rgba(48, 47, 69, 1);
$title-border:rgba(77, 85, 178, 1);
$submenu-color:rgba(73, 83, 170, 1);
$pop-up-color:rgba(31, 30, 48, 1);
$additional-color:rgba(166, 67, 169, 1);
$focused:rgba(230, 182, 86, 1);
$disabled:rgba(62, 68, 109, 1);
$error:rgba(229, 74, 51, 1);
$social-button-border: linear-gradient(180deg, #96C6FF 0%, #5749AA 100%);
$button-color:linear-gradient(180deg, #96C6FF 0%, #5749AA 100%);
$block-color:linear-gradient(180deg, #0A0B13 0%, #273260 100%);
$active-button:linear-gradient(180deg, #CB69FA 0%, #4F58B1 100%);
 
//wrapper
$wrapper-desktop: 1440px;