
.main-nav__list {
    margin: 0;
    padding:105px 40px 105px 40px;

    @media (min-width: $desktop) {
        padding:0px;
        display:flex;
    }
}

.main-nav__item {
    list-style-type: none;
    margin-bottom: 20px;
    font-weight: 700;

    @media (min-width:$tablet) {
        text-align: center;
    }
    @media (min-width: $desktop) {
        justify-content: space-between;
        flex-direction: row;
        margin-right:70px;
        
    }
}

.main-nav__link {
    font-size: 21px;
    line-height: 27px;
    color: $fonts-color;
    margin: 0;
    text-decoration: none;
}

.main-nav__link:hover{
    color: #7785FF;
}

.main-nav__link:active{
    color: #7785FF;
}

.main-nav__link:disabled{
    color: $disabled;
}

.main-nav__submenu {    
    padding: 0;
    
}
