.page-header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: $submenu-color;

  @media (min-width: $desktop) {
    background-color: transparent;
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }
}
