
.submenu {
    display: block;

    @media (min-width: $desktop) {
        display: block;
        position: absolute;
        top: 128px;
        width: 272px;
        height: 230px;
        background: #4953AA;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -7px 7px 0px #5DA6E1;
        border-radius: 10px;
        padding: 60px 50px 60px 50px;
    }
}

.submenu__item {
    display: block;
    list-style-type: none;
    margin-bottom: 15px;
    font-weight: 400;

    @media (min-width: $desktop) {
        margin-bottom: 30px;
    }
}

.submenu__link {
    font-size: 20px;
    line-height: 27px;
    color: $fonts-color;
    margin: 0;
    text-decoration: none;
}

.submenu__link:hover{
    color: #7785FF;
}

.submenu__link:active{
    color: #7785FF;
}

.submenu__link:disabled{
    color: $disabled;
}
